<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/auth/login" method="POST">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="passwordconfirm">Password confirm</label>
                <input type="text" name="passwordconfirm" id="passwordconfirm">
            </div>
            <button class="btn" type="submit">signup</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>